In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

In [2]:
urls = ["https://en.wikipedia.org/wiki/2022%E2%80%9323_EuroLeague_Regular_Season",
        "https://en.wikipedia.org/wiki/2021%E2%80%9322_EuroLeague_Regular_Season",
        "https://en.wikipedia.org/wiki/2020%E2%80%9321_EuroLeague_Regular_Season", 
        "https://en.wikipedia.org/wiki/2019%E2%80%9320_EuroLeague_Regular_Season",
        "https://en.wikipedia.org/wiki/2018%E2%80%9319_EuroLeague_Regular_Season",
        "https://en.wikipedia.org/wiki/2017%E2%80%9318_EuroLeague_Regular_Season",
        "https://en.wikipedia.org/wiki/2016%E2%80%9317_EuroLeague_Regular_Season"]
table_class = "wikitable sortable jquery-tablesorter"
dfs = []
for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    euro_table = soup.find('table', {'class':"wikitable"})
    df_new = pd.read_html(str(euro_table))
    df_new = pd.DataFrame(df_new[0])
    df_new = df_new.iloc[ : , :7]
    df_new.columns = ['Pos', 'Team', 'Pld', 'W', 'L', 'PF', 'PA']
    dfs.append(df_new)

In [3]:
df = pd.concat(dfs)
df = df[df['Pld'] !=0]

In [4]:
Teams = {'Maccabi Playtika Tel Aviv' : 'Maccabi Tel Aviv', 
         'Fenerbahçe Beko': 'Fenerbahçe', 
         'Fenerbahçe Doğuş': 'Fenerbahçe',
         'Partizan Mozzart Bet': 'Partizan',
         'Cazoo Baskonia': 'Baskonia',
         'Bitci Baskonia': 'Baskonia',
         'TD Systems Baskonia': 'Baskonia',
         'Kirolbet Baskonia': 'Baskonia',
         'Crvena zvezda Meridianbet': 'Crvena zvezda',
         'Crvena zvezda mts': 'Crvena zvezda',
         'EA7 Emporio Armani Milan': 'Olimpia Milano',
         'A|X Armani Exchange Milan': 'Olimpia Milano',
         'AX Armani Exchange Olimpia': 'Olimpia Milano',
         'Virtus Segafredo Bologna': 'Virtus Bologna',
         'Panathinaikos[a]': 'Panathinaikos',
         'Panathinaikos OPAP': 'Panathinaikos',
         'Panathinaikos Superfoods': 'Panathinaikos',
         'LDLC ASVEL': 'ASVEL',
         'Barcelona Lassa': 'Barcelona',
         'FC Barcelona Lassa': 'Barcelona',
         'Herbalife Gran Canaria': 'Gran Canaria',
         'Budućnost VOLI': 'Budućnost',
         'Darüşşafaka Tekfen': 'Darüşşafaka',
         'Darüşşafaka Doğuş': 'Darüşşafaka',
         'Galatasaray Odeabank': 'Galatasaray'
        }

In [5]:
df['Team'] = df['Team'].replace(Teams)

In [6]:
df = df.groupby('Team', as_index=False).sum()
df['PD'] = df['PF'] - df['PA']
df = df.sort_values('W', ascending = False, ignore_index = True)

In [17]:
df[['Team', 'Pld', 'W', 'L', 'PF', 'PA', 'PD']]

                      Team  Pld    W    L     PF     PA    PD
0              Real Madrid  214  147   67  17835  16573  1262
1                Barcelona  214  131   83  17009  16261   748
2               Fenerbahçe  214  126   88  16829  16389   440
3               Olympiacos  214  124   90  16874  16351   523
4             Anadolu Efes  214  123   91  17747  17130   617
5              CSKA Moscow  152  113   39  12995  11916  1079
6                 Baskonia  214  108  106  17217  16923   294
7         Maccabi Tel Aviv  214  107  107  17147  17127    20
8                 Žalgiris  214  103  111  16645  16765  -120
9           Olimpia Milano  214   99  115  16905  17174  -269
10           Panathinaikos  212   97  115  16765  17007  -242
11           Crvena zvezda  184   77  107  13746  14205  -459
12           Bayern Munich  154   68   86  11773  12128  -355
13         Valencia Basket  126   58   68  10106  10327  -221
14             ALBA Berlin  124   44   80   9781  10303  -522
15                  Khimki  122   42   80   9680  10231  -551
16                   ASVEL  124   39   85   9226  10024  -798
17               AS Monaco   62   36   26   5113   4974   139
18  Zenit Saint Petersburg   62   28   34   4725   4787   -62
19             Darüşşafaka   60   21   39   4596   4929  -333
20           Brose Bamberg   60   21   39   4678   4850  -172
21                Partizan   34   20   14   2877   2781    96
22          Virtus Bologna   34   14   20   2644   2801  -157
23                 Unicaja   30   13   17   2347   2435   -88
24             Galatasaray   30   11   19   2345   2475  -130
25                   UNICS   30    8   22   2288   2408  -120
26            Gran Canaria   30    8   22   2317   2616  -299
27               Budućnost   30    6   24   2230   2550  -320